@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vajuta Siia</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <form action="/" method="post">        
        <div>
            <p>Description</p>
            <input class="form-control" asp-for="Description">
        </div>

        <div>
            <p>Deadline</p>

        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    

</div>
